# Project exclude paths
/.gradle/
/sanselanAndroid/build/
/sanselanAndroid/build/intermediates/classes/debug/
/tristar/build/
/tristar/build/intermediates/classes/debug/
/zbar/build/
/zbar/build/intermediates/classes/debug/